*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

:root{
    --title-pink: #e53170;
    --background-white: #fffffe;
    --background-card-black: #0f0e17;
    --mail-lightblue: #52c4ea;
}

body{
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: var(--background-white);
}

/*start header*/
header>h1{
    color: var(--title-pink);
    margin:25px 0;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}
/*finish header*/

/*start main*/
main>p{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-size: small;
}

.row{
    margin-bottom: 30px;
}

.row .col{
    float: left;
    width: calc(94%/3);
    background-color: var(--background-card-black);
    box-shadow: 0 0 10px;
}

.col>img{
    width: 30%;
    float: left;
}


.col>span{
    background-color: var(--background-card-black);
    padding-left: 15px;
    width: 70%;
    float: left;
}

.nome{
    font-family: 'Fredoka', sans-serif;
    color: white;
    padding: 5px;
    font-size:small;
}

.mail{
    color:var(--mail-lightblue);
    font-size: small;
    font-family: 'Fredoka', sans-serif;
}

.job{
    color: white;
    font-size: small;
    padding: 7px;
    font-family: 'Fredoka', sans-serif;
}

.central{
    margin:0 3%;
}
/* finish main*/